
body{
  font-family: var(--main-fonts);
  font-size: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-fonts);
}

h1 {
  color: var(--main-tpl-blue);
  font-size: 28px;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
  margin: 10px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 10px 20px;
  text-align: center;
}

h4 {
  font-size: 14px;
  margin: 0 0 10px 20px;
  text-decoration: underline;
  text-align: center;
}

/* Style the buttons inside the filter container */
.pretty input:checked~.state.p-primary-o .icon,
.pretty input:checked~.state.p-primary-o .svg,
.pretty input:checked~.state.p-primary-o svg,
.pretty.p-toggle .state.p-primary-o .icon,
.pretty.p-toggle .state.p-primary-o .svg,
.pretty.p-toggle .state.p-primary-o svg,
.checkbox-bs-primary input[type="checkbox"]:checked + label::before,
.checkbox-bs-primary input[type="radio"]:checked + label::before,
.pretty.p-icon .state .icon,
.checkbox-bs-primary input[type="checkbox"]:checked + label::after, 
.checkbox-bs-primary input[type="radio"]:checked + label::after,
.checkbox-bs label::after,
.checkbox-bs label::before,
.checkbox-bs-primary input[type="checkbox"]:checked + label::before,
.checkbox-bs-primary input[type="radio"]:checked + label::before {
  color: var(--grey-60-darker);
  border-color: var(--grey-30-darker);
  background-color: transparent;
  border-radius: 0;
  /*background-color: var(--grey-20-darker); */
}

.checkbox-bs label::after {
  font-size: 12px;
}

a:active,
a:focus,
a:hover {
  color: var(--main-tpl-red);
}

.shiny-options-group {
  margin: 7px;
  font-size: 14px;
}

/* Shiny picker widget dropdown styling */

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: var(--main-tpl-red);
}

.form-control:focus {
  border-color: var(--main-tpl-red);
}

/* DT data table styling */

table.dataTable.no-footer,
table.dataTable thead th, 
.dataTable thead td {
  border: 1px solid white;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #ffffff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  border: 1px solid var(--grey-20-darker);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: var(--grey-60-darker)!important;
  border: 1px solid var(--grey-20-darker);
  background-color: var(--grey-10-darker);
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: var(--grey-60-darker);
}



