/* Custom color for active tab */
.nav-tabs-custom .nav-tabs li.active,
.nav-tabs li.active a,
.nav-tabs li.active a:focus {
  border-top-color: var(--main-tpl-red);
  font-weight: bold;
}

/* Styling for selected tabs */
.nav-tabs-custom .nav-tabs li a:hover,
.nav-tabs li a:hover {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--main-fonts);
  border-left-color: var(--white);
}

/* Styling for unselected tabs in tab boxes*/
.nav-tabs-custom .nav-tabs li a,
.nav-tabs li a {
  background-color: var(--white);
  color: var(--grey-60-darker);
  font-family: var(--main-fonts);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  border-top-color: var(--main-tpl-blue);
  color: #fff;
  background-color: var(--main-tpl-blue);
  margin: 0 0 10px 0;
}


/* Added padding to tab and info boxes so they don't touch navigation pane */
.nav-tabs-custom,
.info-box {
  margin-left: 15px;
}

.nav-tabs {
  font-family: var(--main-fonts);
}

.nav{
  border-bottom: 1px solid var(--grey-20-darker);
  margin-left: 15px;
}

/* Box styling */

.box.box-solid.box-primary {
  border: 1px solid var(--main-tpl-blue);
}

.box-header,
.box.box-primary, 
.box {
  box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.box-body {
  margin-bottom: 10px;
}

.box {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  font-size: 13px;
}
